body {
  font-family: "Muller Regular", sans-serif;
  height: 100%;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

i {
  color: #fd8329;
  border: 1px solid #fd8329;
  border-radius: 50%;
  text-align: center;
  width: 3rem;
  padding: 0.5rem;
}

ul li {
  list-style-type: none;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  /* background: url(../images/block1.jpg) top center no-repeat;
  min-height: 793px;  
  background-size: cover; */
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(204, 196, 196);
  z-index: 2;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 110px;
  align-items: center;
}

.header__logo {
  flex: 0 0 60px;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

.header__burger {
  display: none;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
  margin: 0 0 0 20px;
}

.header__link {
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .header__body {
    height: 60px;
  }

  .header__logo {
    flex: 0 0 40px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header__burger span,
  .header__burger::after,
  .header__burger::before {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger.active span {
    transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger span {
    top: 9px;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(165, 154, 154);
    padding: 70px 10px 20px;
    transition: all 0.3s ease 0s;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0 0 20px 0;
  }
}
/* contacts=========================================== */
/* grid */
.contacts-grid {
  display: grid;
  margin-top: 150px;
  /* ширина трьох колонок */
  /* grid-template-columns: 1fr 1fr 250px; */
  /* grid-template-columns: 100px repeat(2, 1fr 2fr); */
  /* grid-template-columns: minmax(50px, 200px) 1fr 1fr; */
  /* auto-fill дає можливість переносу колонок при зміні розширення при мінімумі ширини в 320px */
  /* auto-fill/auto-fit */
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  /* висота трьох рядків */
  grid-template-rows: auto;
  /* висота рядків по замовчуванню*/
  grid-auto-rows: minmax(50px, auto);
  /* grid-auto-rows: 70px; */
  /* відстань між колонками */
  /* grid-column-gap: 20px; */
  /* відстань між рядками */
  /* grid-row-gap: 10px; */
  /* відстань між рядками та колонками */
  grid-column-gap: auto;
  grid-row-gap: 20px;
  /* переводить в column/row */
  /* grid-auto-flow: column; */
  /* ============== */
  /* розміщення елементів: start/end/center/stretch*/
  /* по осі Y */
  /* align-items: stretch; */
  /* по осі X */
  /* justify-items: stretch; */
  /* border: 1px solid #000; */
  max-width: 66.666666%;
  width: 100%;
}
/* управління початком і закінчення елемента фракції */
.contacts-grid div:nth-child(1) {
  /* grid-column-start: 2;
  grid-column-end: 4; */
  /* скорочено: */
  /* розвернення першої фракнії на всю ширину блока */
  grid-column: 1;
  grid-row: 1;
}
/* grid-row задає місце фракції в строці */
.contacts-grid div:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
  /* управління елементом */
  align-self: flex-start;
  justify-self: flex-start;
}
.contacts-grid div:nth-child(3) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 2;
  justify-self: center;
  align-self: stretch;
}
.contacts-grid div:nth-child(4) {
  grid-column: 1;
  grid-row: 3;
}
.contacts-grid div:nth-child(5) {
  grid-column: 2;
  grid-row: 3;
}
.contacts-grid div:nth-child(6) {
  grid-column: 3;
  grid-row: 3;
}
.contacts-grid__items ul {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 0;
}
.contacts-grid__items li:hover {
  box-shadow: 5px 5px 5px #fd8329;
  border-radius: 50%;
}
.contacts-grid__items .fa {
  font-size: 1.8rem;
}
/* /contacts=========================================== */

/* @media (max-width: 570px) {
  .menu__btn {
    width: 30px;
    height: 20px;
    position: relative;
  }

  .menu__btn span {
    width: 100%;
    height: 2px;
    background-color: #000;
    top: 9px;
    position: absolute;
  }

  .menu__btn::after,
  .menu__btn::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
  }

  .menu__btn::after {
    top: 0;
  }

  .menu__btn::before {
    bottom: 0;
  }
} */
